@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Itim&display=swap');

html{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('/images/91-915470_black-wallpaper-design.jpg');
    
}

h1{
    color: white;
    background-color: black;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    margin: 15px 15%;
    padding: 2px;
    font-family: 'Itim', cursive;  
}

.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-contenor{
    margin: 10px 18%;
}

.image-contenor img{
    width: 100%;
    margin-top: 2px;
}


@media screen and (max-width :600px) {
    .heading{
        font-size: 5px;
           
    }
    .image-contenor{
        margin: 10px 15%;
    }
   
    
}

@media screen and (max-width :950px) {
    .heading{
        font-size: 18px;
           
    }
    .image-contenor{
        margin: 10px 15%;
    }
   
    
}
